<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context
                           http://www.springframework.org/schema/context/spring-context.xsd " >

	<beans profile="spring">
		<bean id="aaa" class="com.kesav.springreceips.chap02.Battery">
			<property name="name" value="AAA Battery" />
			<property name="price" value="1.5" />
			<property name="rechargeable" value="true" />
		</bean>
		<bean id="cdrw" class="com.kesav.springreceips.chap02.Disc">
			<property name="name" value="CD-RW" />
			<property name="price" value="2.5" />
			<property name="capacity" value="700" />
		</bean>
		<bean id="dvdrw" class="com.kesav.springreceips.chap02.Disc">
			<property name="name" value="DVD-RW" />
			<property name="price" value="3.5" />
			<property name="capacity" value="1400" />
		</bean>
		<bean id="harddisc" class="com.kesav.springreceips.chap02.Disc">
			<property name="name" value="Hard Disc" />
			<property name="price" value="200" />
			<property name="capacity" value="150" />
			<property name="discount" value="10" />
		</bean>
	</beans>
	<beans profile="summer, winter">
		<bean id="aaa" class="com.kesav.springreceips.chap02.Battery">
			<property name="name" value="AAA Battery" />
			<property name="price" value="10.5" />
			<property name="rechargeable" value="true" />
		</bean>
		<bean id="cdrw" class="com.kesav.springreceips.chap02.Disc">
			<property name="name" value="CD-RW" />
			<property name="price" value="20.5" />
			<property name="capacity" value="700" />
		</bean>
		<bean id="dvdrw" class="com.kesav.springreceips.chap02.Disc">
			<property name="name" value="DVD-RW" />
			<property name="price" value="30.5" />
			<property name="capacity" value="1400" />
		</bean>
		<bean id="harddisc" class="com.kesav.springreceips.chap02.Disc">
			<property name="name" value="Hard Disc" />
			<property name="price" value="2000" />
			<property name="capacity" value="150" />
			<property name="discount" value="10" />
		</bean>
	</beans>
</beans>